body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background-color: burlywood;
}


strong {
  color: green;
  /* font-family: sans-serif; */
  font-size: 40px;
}
.heading {
  text-align: center; font-size: 25px;
  font-family: 'Audiowide';
}
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 70px; 
  height: 30px; 
  cursor: pointer;
}

.result {
  font-size: 35px;
  text-align: center;
}
.userCount {
  float: left;
  width: 200px; 
  height: 29px;
  text-align: center;
  border: 1px solid rgb(3, 87, 3);
  background-color: rgb(163, 182, 248);
  /* white-space: pre; */
  margin-left: 170px;
}
.computerCount {
  float: left;
  width: 200px;
  height: 29px;
  text-align: center;
  border: 1px solid rgb(3, 87, 3);
  background-color: rgb(161, 247, 205);
  border-left: none;
  /* white-space: pre; */
}